# This program is distributed under the terms of the GNU General Public License.
# For more details, see the LICENSE file in the root of the repository.

# Pick a template from here: https://github.com/github/gitignore
# and popular this file with one.

megalinter-reports/
